<div>
  <div>
    <h1>
      <%= @the_topic.title %> quiz
    </h1>

    <div>
      <div>
        <a href="/topics">
          Go back
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_topic.created_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<hr>

<form action="/insert_message" method="post">
  <input name="query_topic_id" type="hidden" name="quiz_id" value="<%= @the_topic.id %>">

  <textarea name="query_content" placeholder="Enter your answer..."></textarea>

  <button>Submit answer</button>
</form>
